input[type=number]{
    -moz-appearance: textfield;
}
.charInput{
    width: 80%;
}

.characterInputContainer {
    width: 100%;
}
.characterDisctiption{
    width: 100%;
}

.characteristicInput{
    width: 100%;
    margin: 2px;
}

.characterInputCard {
    padding: 10px 10px 0 10px; 
}

.addEditBtn{
    width: 100%;
    margin-top: 5px;
}