.infoContainer{
    width: 70%;
}

.selectContainer{
    padding: 0;
    height: 70vh;
    background-color: gray;
    overflow: scroll;
}

.selectTabContainer{
    display: flex;
    justify-content: center;
}

.itemContainer{
    display: flex;
}

.partyNameInput {
    margin: 10px;
}

.partyMembersContainer{
    background-color: #808080;
    height: 70vh;
}

.partyMembersDisplay{
    display: none;
}