.inputCardsContainer{
    max-width: 1000px;
    min-width: 400px;
}

.initiativePageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.submitInitiativeBtn{
    width: 100%;
}

.initiativeInput{
    width:300px ;
}